
@{
    ViewBag.Title = "ChapterTranslationWork";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}

<style>
    .mysheader {
        background: #096499;
    }
</style>

<div class="row page-titles">
    <div class="col-md-12 align-self-center">
        <h3 class="text-themecolor">
            Category 2: Publications (other than Research Papers)
        </h3>
        <p>Translation works in Indian and Foreign Languages by qualified faculties</p>
    </div>
    <div class="col-md-7 align-self-center">

    </div>
    <div class="">
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
    </div>
</div>

<div class="container-fluid">




    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header mysheader">
                    <h4 class="m-b-0 text-white">
                        2. (B) (I) CHAPTER TRANSLATION WORK IN INDIAN AND FOREIGN LANGUAGE
                    </h4>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="col-sm-12">Title with page nos.</label>
                                <div class="col-sm-12">
                                    <input name="" type="text" id="Title" class="form-control">
                                    @*<span id="body_reqBookTitle" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">Date/Year of Publication</label>
                                <div class="col-sm-12">
                                    <input name="" type="text" id="PublicationDate" class="form-control">
                                    @*<span id="" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">Publisher Type</label>
                                <div class="col-sm-12">
                                    <select id="PublisherType" class="form-control">
                                        <option value="-1">-- select --</option>
                                        <option value="National">National</option>
                                        <option value="International">International</option>

                                    </select>
                                    @*<span id="" class="validator" style="display:none;">select an item</span>*@
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="" id="" class="col-sm-12">Name of the Publisher</label>
                                <div class="col-sm-12">
                                    <input type="text" id="Publisher" class="form-control">
                                    @*<span id="" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="" id="" class="col-sm-12">Category</label>
                                <div class="col-sm-12">
                                    <input type="text" id="Category" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="" id="" class="col-sm-12">ISSN / ISBN No.</label>
                                <div class="col-sm-12">
                                    <input type="text" id="Isbn" class="form-control">
                                    @*<span id="body_reqIsbn" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="" id="" class="col-sm-12">Name of Book & Editor</label>
                                <div class="col-sm-12">
                                    <input name="" type="text" id="NameofBookEditor" class="form-control">
                                    @*<span id="body_reqNoOfCoAuthor" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="" id="" class="col-sm-12">No. of co-translator</label>
                                <div class="col-sm-12">
                                    <input name="" type="text" id="NoOfCoTranslator" class="form-control only-numeric">
                                    @*<span id="body_reqNoOfCoAuthor" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="" id="" class="col-sm-12">Language</label>
                                <div class="col-sm-12">
                                    <input name="" type="text" id="Language" class="form-control">
                                    @*<span id="body_reqNoOfCoAuthor" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="" id="" class="col-sm-12">Book Chapter</label>
                                <div class="col-sm-12">
                                    <input name="" type="text" id="BookChapter" class="form-control">
                                    @*<span id="body_reqNoOfCoAuthor" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>

                        


                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="" id="" class="col-sm-12">Whether you are main author</label>
                                <div class="col-sm-12">
                                    <select id="IsMainAuthor" class="form-control">
                                        <option value="-1">-- select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>

                                    </select>
                                    @*<span id="body_reqBookMainAuthor" class="validator" style="display:none;">select an item</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="" id="" class="col-sm-12">Upload Scanned Attachment</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control" id="attachment" onchange="Fileupload(this)">
                                    <span id="attachmentAnchor" style="display: none;" class="input-group-text btn-download"></span>
                                </div>
                                <span class="smallpdf">(File Format:JPG/JPEG and PDF । Max File Size: 2 MB)</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="" id="" class="col-sm-12">&nbsp;</label>
                                <div class="col-sm-12">
                                    <a class="btn btn-primary btn-shadow" href="#" id="addMore"><span class="fa fa-plus-circle"></span> Add</a>
                                </div>
                            </div>
                        </div>
                    </div>








                    <div class="row mt-3">
                        <div class="col-sm-12">

                            <div class="table-responsive">
                                <table class="table full-color-table full-info-table hover-table">
                                    <thead>
                                        <tr class="">
                                            <th>Title with page Nos.</th>
                                            <th>Category</th>
                                            <th>Date of publication</th>
                                            <th>Type of Translation</th>
                                            <th>Publisher</th>
                                            <th>ISSN / ISBN No.</th>
                                            <th>Name of Book &amp; Editor</th>

                                            <th>No. of co-translator</th>
                                            <th>Whether main Translator</th>
                                            @*<th>API Score</th>*@
                                            <th>Attachment</th>
                                        </tr>
                                    </thead>
                                    <tbody id="addMoreData">
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="card-shadow-primary col-sm-12 card bg-secondary">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-warning text-dark shadow" href="#" onclick="finalSubmit()"><span class="fa fa-save"></span> Save</a>
                        <a id="btnSaveNext" class="btn btn-success text-dark shadow pull-right" href=""><span class="fa fa-save"></span> Save &amp; Next <span class="fa fa-chevron-circle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        debugger;
        $('#btnSaveNext').hide();

    });

    var ser = 1;
    $('#addMore').click(function () {
        debugger;
        var Title = $('#Title').val();
        var Category = $('#Category').val();
        var PublicationDate = $("#PublicationDate").val();
        var Publisher = $("#Publisher").val();
        var PublisherType = $("#PublisherType").val();
        var PublisherTypeText = $("#PublisherType option:selected").text();
        var Isbn = $('#Isbn').val();
        var NameofBookEditor = $('#NameofBookEditor').val();
        var NoOfCoTranslator = $('#NoOfCoTranslator').val();
        var IsMainAuthor = $('#IsMainAuthor').val();
        var IsMainAuthorText = $("#IsMainAuthor option:selected").text();
        var href = $('.anchor').attr('href');
        var Language = $('#Language').val();
        var BookChapter = $('#BookChapter').val();


        if (Title != "" && Title != null && Title != undefined || PublicationDate != "" && PublicationDate != null && PublicationDate != undefined || Publisher != "" && Publisher != null && Publisher != undefined || PublisherType != "-1" && PublisherType != null && PublisherType != undefined || Isbn != "" && Isbn != null && Isbn != undefined || NoOfCoAuthors != "" && NoOfCoAuthors != null && NoOfCoAuthors != undefined || IsMainAuthor != "-1" && IsMainAuthor != null && IsMainAuthor != undefined || NameofBookEditor != "" && NameofBookEditor != null && NameofBookEditor != undefined || NoOfCoTranslator != "" && NoOfCoTranslator != null && NoOfCoTranslator != undefined || href != "" && href != null && href != undefined || Language != "" && Language != null && Language != undefined || BookChapter != "" && BookChapter != null && BookChapter != undefined) {

            var row = "<tr><td class='Title'>" + Title + "</td><td class='Category'>" + Category + "</td><td class='PublicationDate'>" + PublicationDate + "</td><td class='PublisherTypeText'>" + PublisherTypeText + "<input type='hidden' value=" + PublisherType + " class='PublisherType'/></td><td class='Publisher'>" + Publisher + "</td><td class='Isbn'>" + Isbn + "</td><td class='NameofBookEditor'>" + NameofBookEditor + "<input type='hidden' value=" + Language + " class='language'/></td><td class='NoOfCoTranslator'>" + NoOfCoTranslator + "<input type='hidden' value=" + BookChapter +" class='bookChapter'/></td><td class='IsMainAuthorText'>" + IsMainAuthorText + "<input type='hidden' value=" + IsMainAuthor +" class='IsMainAuthor'/></td><td><span class='input-group-text btn-download' href=" + href +"><a href=" + href +" target='_blank' class='btn btn-warning dnldbtn'><i class='fa fa-download'></i></a></span></td></tr>";

            $('#addMoreData').append(row);

           $('#Title').val('');
            $('#Category').val('');
            $("#PublicationDate").val('');
            $("#Publisher").val('');
           $("#PublisherType").val('-1');
           $('#Isbn').val('');
           $('#NameofBookEditor').val('');
            $('#NoOfCoTranslator').val('');
            $('#IsMainAuthor').val('-1');
            $('#Language').val('');
            $('#BookChapter').val('');

            var $el = $('#attachment');
            $el.wrap('<form>').closest('form').get(0).reset();
            $el.unwrap();

        }
        else {
            $('#addMoreData').html('');
        }

    })

    function Fileupload(obj) {
        debugger;
        var filename = $(obj)[0].files[0].name;
        var fileId = $(obj).attr("id");
        var ext = obj.value.match(/\.(.+)$/)[1];

        switch (ext) {
            case 'pdf':
            case 'jpg':
            case 'jpeg':
                var fileSize = ($("#" + fileId)[0].files[0].size / 1024 / 1024);
                if (fileSize > 2) {
                    swal("", "File size should not exceed 2 MB.\r\nफाइल का साइज़ 2 MB से अधिक नहीं होना चाहिए।", "warning");
                    return false;
                }
                else {
                    var data = new FormData();
                    var files = $("#" + fileId).get(0).files;
                    if (files.length > 0) {
                        data.append("File", files[0]);
                    }
                    $("#divLoader").show();
                    $.ajax({
                        url: '@Url.Action("UploadFileChapterTranslationWork", "Applicant")',
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {
                            $("#divLoader").hide();

                            if (response != null) {
                                if (response.result) {
                                    $("#fileName" + fileId).text(filename);
                                    $("#" + fileId + "Path").val(response.fpath);
                                    var Url = response.fpath.replace('~/', '');
                                    $("#" + fileId + "Anchor").empty();
                                    $("#" + fileId + "Anchor").attr('href', Url);
                                    //$("#" + fileId + "Anchor").show();
                                    $("#" + fileId + "Anchor").append('<a href="' + '@Url.Content("~/")' + Url + '" target="_blank" class="btn btn-warning anchor"><i class="fa fa-download"></i></a>');
                                    swal("", "File upload successfully. ", "success")
                                }
                                else {
                                    swal("", response.mesg, "error")
                                }
                            }
                            else {
                                swal("", "Fail to Upload File", "error")
                            }
                            return false;

                        },
                        error: function (e) {

                            $("#divLoader").hide();
                            swal("", "An Error Occured while uploading file", "error");
                        }
                    });

                }
                break;
            default:
                swal("", 'File should be in PDF/JPG/JPEG format./फाइल PDF/JPG/JPEG प्रारूप में होनी चाहिए।', "warning");
                this.value = '';
                return false;
        }

    }

    function finalSubmit() {

        debugger;
        var IsPass = false;
        var model = {
            bookPublications: []
        }
        var bookPublicationsList = [];

        $('#addMoreData tr').each(function (i, d) {

            var bookPublications = {};
            bookPublications.Title = $(this).find('.Title').text();
            bookPublications.Category = $(this).find('.Category').text();
            bookPublications.PublicationDate = $(this).find(".PublicationDate").text();
            bookPublications.Publisher = $(this).find(".Publisher").text();
            bookPublications.PublisherType = $(this).find(".PublisherType").val();
            bookPublications.Isbn = $(this).find(".Isbn").text();
            bookPublications.NameofBookEditor = $(this).find(".NameofBookEditor").text();
            bookPublications.NoOfCoTranslator = $(this).find(".NoOfCoTranslator").text();
            bookPublications.IsMainAuthor = $(this).find(".IsMainAuthor").val();
            bookPublications.DocumentPath = $(this).find('.dnldbtn').attr('href');
            bookPublications.Language = $(this).find('.language').val();
            bookPublications.BookChapter = $(this).find('.bookChapter').val();

            bookPublicationsList.push(bookPublications);
            IsPass = true;

        });
        if (bookPublicationsList.length != 0) {
            if (IsPass != false) {
                $.each(bookPublicationsList, function (key, value) {
                    model.bookPublications.push(value);
                });
                $.ajax({
                    url: "@Url.Action("SaveChapterTranslationWork", "Applicant")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(model),
                    async: false,
                    dataType: "json",
                    success: function (a) {
                        if (a.ResponseCode == 0) {
                            $.confirm({
                                title: '',
                                content: a.ResponseMessage,
                                buttons: {
                                    Ok: function () {
                                        $('#addMoreData').html('');
                                        $('#btnSaveNext').show();
                                    }
                                }
                            });
                        }
                        else {
                            $.confirm({
                                title: '',
                                content: a.ResponseMessage,
                                buttons: {
                                    Ok: function () {

                                    }
                                }
                            });
                        }
                    },
                    error: function (e) {
                        $('.btnSubmit').prop('disabled', false);
                        swal("", "Somthing went wrong!", "warning");
                    }
                });
            }
            else {
                swal("", 'Something went wrong !', "warning");
            }
        }
        else {
            swal("", 'Add altleast one record .', "info");
        }
    }

    $(".only-numeric").bind("keypress", function (e) {
        var keyCode = e.which ? e.which : e.keyCode
        if (!(keyCode >= 48 && keyCode <= 57)) {
            //swal("", "Please enter numeric digit only", "warning");
            return false;
        }
        return true;
    });

</script>