
@{
    ViewBag.Title = "Lectures";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}

<style>
    .mysheader {
        background-color: #096499;
    }
</style>
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">
            Special Lectures
        </h3>
        <p>Special Lectures / Resource Person / Paper presentation in Seminars / Conferences / Full paper in Conference Proceddings.</p>
    </div>
    <div class="col-md-7 align-self-center">

    </div>
    
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header mysheader">
                    <h4 class="m-b-0 text-white">
                        Research Degree
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=" " id=" " class="col-sm-12">Title of Lecture / Talk / Presentation</label>
                                <div class="col-sm-12">
                                    <input name=" " type="text" class="form-control">
                                    @*<span id="body_reqTitle" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-12">Name of Program with Date</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control">
                                    @*<span id="body_reqAcademicSession" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-12">Type</label>
                                <div class="col-sm-12">
                                    <select id=" " class="form-control">
                                        <option value="-1">-- select --</option>
                                        <option value="Lecture">Lecture</option>
                                        <option value="Resource Person">Resource Person</option>
                                        <option value="Paper Presentation in Seminar / Conference">Paper Presentation in Seminar / Conference</option>
                                        <option value="Full Paper in Conference Proceedings">Full Paper in Conference Proceedings</option>

                                    </select>
                                    @*<span id="body_reqLectureType" class="validator" style="display:none;">select an item</span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-12">Level</label>
                                <div class="col-sm-12">
                                    <select  id=" " class="form-control">
                                        <option value="-1">-- select --</option>
                                        <option value="International (Abroad)">International (Abroad)</option>
                                        <option value="International (Within Country)">International (Within Country)</option>
                                        <option value="National">National</option>
                                        <option value="State">State</option>
                                        <option value="University">University</option>

                                    </select>
                                    @*<span id="body_reqLectureLevel" class="validator" style="display:none;">select an item</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-12">Organizing Body / Agency</label>
                                <div class="col-sm-12">
                                    <input name=" " type="text" class="form-control">
                                    @*<span id="body_reqAgency" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label id=" " class="col-sm-12">Upload Scanned Attachment</label>
                                <div class="col-sm-12">
                                    <input type="file" id=" " class="form-control">
                                    @*<span id="body_reqAwardUpload" class="validator" style="display:none;">upload file</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">&nbsp;</label>
                                <div class="col-sm-12">
                                    <a class="btn btn-primary btn-shadow" href="#"><span class="fa fa-plus-circle"></span> Add</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <table class="table table-bordered">
                                <tbody>
                                    <tr class="table-primary">
                                        <th>Title of Lecture</th>
                                        <th>Name of Program with Date</th>
                                        <th>Type</th>
                                        <th>Level</th>
                                        <th>Organizing Body / Agency</th>
                                        <th>API Score</th>
                                        <th>Attachment</th>
                                        <th></th>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="card-shadow-primary col-sm-12 card bg-secondary">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <a id="" class="btn btn-warning text-dark shadow" href=""><span class="fa fa-save"></span> Save</a>
                        <a id="" class="btn btn-success text-dark shadow pull-right" href=""><span class="fa fa-save"></span> Save &amp; Next <span class="fa fa-chevron-circle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

