@model UniversityRecruitment.Models.ResearchDegree
@{
    ViewBag.Title = "ResearchDegree";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}

<style>
    .mysheader {
        background: #096499;
    }
</style>

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">
            Research Degree
        </h3>
        <p>Whether Ph. D. awarded as per UGC Regulations 2009.</p>
    </div>
    <div class="col-md-7 align-self-center">

    </div>
    <div class="">
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
    </div>
</div>

<div class="container-fluid">


    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header mysheader">
                    <h4 class="m-b-0 text-white">
                        Research Degree
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">Degree</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="degree">
                                        <option selected="selected" value="-1">Select</option>
                                        <option value="D. Lit">D. Lit</option>
                                        <option value="D. Phil.">D. Phil.</option>
                                        <option value="D. Sc.">D. Sc.</option>
                                        <option value="M. Phil.">M. Phil.</option>
                                        <option value="Ph. D.">Ph. D.</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for=" " id=" " class="col-sm-12">Title</label>
                                <div class="col-sm-12">
                                    <input type="text" autocomplete="off" id="title" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="" id=" " class="col-sm-12">Subject / Discipline</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="subject">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label id="" class="col-sm-12">Marks</label>
                                <div class="col-sm-12">
                                    <input type="text" autocomplete="off" id="marks" class="form-control only-numeric">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label id="" class="col-sm-12">
                                    Ph. D. Awarded(UGC 2009 Reg.)
                                </label>
                                <div class="col-sm-12">
                                    <input type="text" autocomplete="off" id="ugc" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label id="" class="col-sm-12">Year of Award</label>
                                <div class="col-sm-12">
                                    <input type="text" autocomplete="off" maxlength="4" id="yearOfAward" class="form-control only-numeric">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="" id="" class="col-sm-12">University</label>
                                <div class="col-sm-12">
                                    <input name="" type="text" autocomplete="off" id="university" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="" id="" class="col-sm-12">Upload Scanned Attachment</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control" id="attachment" onchange="Fileupload(this)">
                                    <span id="attachmentAnchor" style="display: none;" class="input-group-text btn-download"></span>
                                </div>
                                <span class="smallpdf">(File Format:JPG/JPEG and PDF । Max File Size: 2 MB)</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">&nbsp;</label>
                                <div class="col-sm-12">
                                    <a id="addMore" class="btn btn-primary btn-shadow" href="#"><span class="fa fa-plus-circle"></span> Add</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">

                            <div class="table-responsive">
                                <table class="table full-color-table full-info-table hover-table">
                                    <thead>
                                        <tr class="">
                                            <th>Degree</th>
                                            <th>Title</th>
                                            <th>Subject / Discipline</th>
                                            <th>Marks</th>
                                            <th>Year of Award</th>
                                            <th>
                                                Ph. D. Awarded<br>
                                                (UGC 2009 Reg.)
                                            </th>
                                            <th>University</th>
                                            <th>Document</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="addMoreData">
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="card-shadow-primary col-sm-12 card bg-secondary">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-warning text-dark shadow" href="#" onclick="finalSubmit()"><span class="fa fa-save"></span> Save</a>
                        <a id="btnSaveNext" class="btn btn-success text-dark shadow pull-right" href=""><span class="fa fa-save"></span> Save &amp; Next <span class="fa fa-chevron-circle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function Fileupload(obj) {
        debugger;
        var filename = $(obj)[0].files[0].name;
        var fileId = $(obj).attr("id");
        var ext = obj.value.match(/\.(.+)$/)[1];

        switch (ext) {
            case 'pdf':
            case 'jpg':
            case 'jpeg':
                var fileSize = ($("#" + fileId)[0].files[0].size / 1024 / 1024);
                if (fileSize > 2) {
                    swal("", "File size should not exceed 2 MB.\r\nफाइल का साइज़ 2 MB से अधिक नहीं होना चाहिए।", "warning");
                    return false;
                }
                else {
                    var data = new FormData();
                    var files = $("#" + fileId).get(0).files;
                    if (files.length > 0) {
                        data.append("File", files[0]);
                    }
                    $("#divLoader").show();
                    $.ajax({
                        url: '@Url.Action("UploadFileResearchDegree", "Applicant")',
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {
                            $("#divLoader").hide();

                            if (response != null) {
                                if (response.result) {
                                    $("#fileName" + fileId).text(filename);
                                    $("#" + fileId + "Path").val(response.fpath);
                                    var Url = response.fpath.replace('~/', '');
                                    $("#" + fileId + "Anchor").empty();
                                    $("#" + fileId + "Anchor").attr('href', Url);
                                    //$("#" + fileId + "Anchor").show();
                                    $("#" + fileId + "Anchor").append('<a href="' + '@Url.Content("~/")' + Url + '" target="_blank" class="btn btn-warning anchor"><i class="fa fa-download"></i></a>');
                                    swal("", "File upload successfully. ", "success")
                                }
                                else {
                                    swal("", response.mesg, "error")
                                }
                            }
                            else {
                                swal("", "Fail to Upload File", "error")
                            }
                            return false;

                        },
                        error: function (e) {

                            $("#divLoader").hide();
                            swal("", "An Error Occured while uploading file", "error");
                        }
                    });

                }
                break;
            default:
                swal("", 'File should be in PDF/JPG/JPEG format./फाइल PDF/JPG/JPEG प्रारूप में होनी चाहिए।', "warning");
                this.value = '';
                return false;
        }

    }

    $(document).ready(function () {
        debugger;
        $('#btnSaveNext').hide();

    });

    var ser = 1;
    $('#addMore').click(function () {
        debugger;
        var Degree = $('#degree').val();
        var DegreeText = $("#degree option:selected").text();
        var title = $("#title").val();
        var subject = $("#subject").val();
        var yearOfAward = $('#yearOfAward').val();
        var university = $("#university").val();
        var marks = $("#marks").val();
        var ugc = $("#ugc").val();
        var href = $('.anchor').attr('href');

        if (Degree != "-1" && Degree != null && Degree != undefined || title != "" && title != null && title != undefined || subject != "" && subject != null && subject != undefined || yearOfAward != "" && yearOfAward != null && yearOfAward != undefined || university != "" && university != null && university != undefined) {

            var row = "<tr><td class='DegreeText'>" + DegreeText + "</td><td class='title'>" + title + "</td><td class='subject'>" + subject + "</td><td class='marks'>" + marks + "</td><td class='yearOfAward'>" + yearOfAward + "</td><td class='ugc'>" + ugc + "</td><td class='university'>" + university + "</td><td><span class='input-group-text btn-download' href=" + href + "><a href=" + href + " target='_blank' class='btn btn-warning dnldbtn'><i class='fa fa-download'></i></a></span></td></tr>";

            $('#addMoreData').append(row);

            $('#degree').val('-1');
            $("#title").val('');
            $("#subject").val('');
            $("#yearOfAward").val('');
            $("#university").val('');
            $("#marks").val('');
            $("#ugc").val('');

            var $el = $('#attachment');
            $el.wrap('<form>').closest('form').get(0).reset();
            $el.unwrap();

        }
        else {
            $('#addMoreData').html('');
        }

    })

    $(".only-numeric").bind("keypress", function (e) {
        var keyCode = e.which ? e.which : e.keyCode
        if (!(keyCode >= 48 && keyCode <= 57)) {
            //swal("", "Please enter numeric digit only", "warning");
            return false;
        }
        return true;
    });

    function finalSubmit() {
        debugger;
        var IsPass = false;
        var model = {
            researchDegree: []
        }
        var researchDegreeList = [];

        $('#addMoreData tr').each(function (i, d) {

            var researchDegree = {};
            researchDegree.Degree = $(this).find('.DegreeText').text();
            researchDegree.Title = $(this).find('.title').text();
            researchDegree.Subject = $(this).find(".subject").text();
            researchDegree.Marks = $(this).find(".marks").text();
            researchDegree.YearOfAward = $(this).find(".yearOfAward").text();
            researchDegree.University = $(this).find('.university').text();
            researchDegree.DocumentPath = $(this).find('.dnldbtn').attr('href');
            researchDegree.PhdAwarded = $(this).find('.ugc').text();

            researchDegreeList.push(researchDegree);
            IsPass = true;

        });
        if (researchDegreeList.length != 0) {
            if (IsPass != false) {
                $.each(researchDegreeList, function (key, value) {
                    model.researchDegree.push(value);
                });
                $.ajax({
                    url: "@Url.Action("SaveResearchDegree", "Applicant")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(model),
                    async: false,
                    dataType: "json",
                    success: function (a) {
                        if (a.ResponseCode == 0) {
                            $.confirm({
                                title: '',
                                content: a.ResponseMessage,
                                buttons: {
                                    Ok: function () {
                                        $('#addMoreData').html('');
                                        $('#btnSaveNext').show();
                                    }
                                }
                            });
                        }
                        else {
                            $.confirm({
                                title: '',
                                content: a.ResponseMessage,
                                buttons: {
                                    Ok: function () {

                                    }
                                }
                            });
                        }
                    },
                    error: function (e) {
                        $('.btnSubmit').prop('disabled', false);
                        swal("", "Somthing went wrong!", "warning");
                    }
                });
            }
            else {
                swal("", 'Something went wrong !', "warning");
            }
        }
        else {
            swal("", 'Add altleast one record .', "info");
        }
    }

</script>