@model UniversityRecruitment.Models.changePasword
@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_UniversityLayout.cshtml";
}

@*<h2>changePassword</h2>*@

<section class="email pt-10 pb-50">
    <div class="container">
        <div class="row justify-content-center">

            <div class="container p-10">
                <h3 class="bg-success text-light text-center p-1 mb-4">Change Password</h3>

            </div>

            @using (Html.BeginForm())
            {
                @Html.Partial("_ResponseMessage")
                <div class="row justify-content-center" style="margin: 0;">
                    <div class="col-md-6">
                        <div class="card shadow">
                            <div class="card-header bg-warning bg-opacity-10">
                                Sign In
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="col-sm-12">Old Password</label>
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(m => m.oldPassword, new { @class = "form-control", @onchange = "checkpassword()" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">New Password</label>
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(m => m.newPassword, new { @class = "form-control" })

                                    </div>
                                </div>   <div class="form-group">
                                             <label class="col-sm-12">Confirm Password</label>
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(m => m.confirmPassword, new { @class = "form-control" })

                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-success" onclick="changePassword()">click</button>

                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

<script>
    function checkpassword() {

        var oldpassword = $('#oldPassword').val();



        if ($('#oldPassword').val() == "" || $('#oldPassword').val() == null || $('#oldPassword').val() == undefined) {
            swal("", "Please enter  oldpassword", "warning")
            return false;
        }


        debugger;
        $.ajax({
            type: 'post',
            url: '/Home/CheckPassword',
            data: { oldpassword: oldpassword },
            success: function (data) {
                if (data != null) {
                    if (data.flag == 1) {

                        swal("", data.message, "success")
                        sessionStorage.setItem('old', data.Password)


                    }
                    else {
                        swal("", data.message, "warning")
                    }
                }


            }

        })


    }

    
    function changePassword() {
        debugger;
        var oldpassword = $('#oldPassword').val();
        var newPassword = $('#newPassword').val();
        var confirmPassword = $('#confirmPassword').val();
        var old = sessionStorage.getItem('old')

           if ($('#oldPassword').val() == "" || $('#oldPassword').val() == null || $('#oldPassword').val() == undefined) {
            swal("", "Please enter oldpassword", "info")
            return false;
        }
        if ($('#newPassword').val() == "" || $('#newPassword').val() == null || $('#newPassword').val() == undefined) {
            swal("", "Please enter newPassword", "info")
            return false;
        }
        if (oldpassword != old) {
            swal("", "Please enter correct oldpassword", "info")
            return false;

        }
        if (newPassword != confirmPassword) {
            swal("", "New password and confirm password does ont matched", "info")
            return false;
        }
        debugger
       
        $.ajax({
            type: 'post',
            url: '/Home/changePass',
            data: {  newPassword: newPassword },
            success: function (data) {
                if (data != null) {
                    if (data.flag == 1) {
                        swal("", data.message, "success")
                     
                  $('#oldPassword').val('');
                  $('#newPassword').val('');
                  $('#confirmPassword').val('');
                       $('#password').val(data.newPassword)
                    }
                    else {
                         swal("", data.message, "warning")
                    }
                }


            }

        })

        }
</script>